<header class="header header-sticky p-0 mb-4">
    <div class="container-fluid border-bottom px-4">
        <button class="header-toggler" type="button"
            onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()"
            style="margin-inline-start: -14px;">
            <i class="fa fa-bars"></i>
        </button>
        <ul class="header-nav d-none d-lg-flex">
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
        </ul>
        <ul class="header-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="#">
                    <i class="fa fa-bell fa-lg"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#">
                    <i class="fa fa-list fa-lg"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#">
                    <i class="fa fa-envelope fa-lg"></i></a></li>
        </ul>
        <ul class="header-nav">
            <li class="nav-item py-1">
                <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
            </li>
            <li class="nav-item dropdown"><a class="nav-link py-0 pe-0" data-coreui-toggle="dropdown" href="#"
                    role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="avatar avatar-md"><img class="avatar-img" src="assets/img/avatars/8.jpg"
                            alt="user@email.com"></div>
                </a>
                <div class="dropdown-menu dropdown-menu-end pt-0">
                    <div class="dropdown-header bg-body-tertiary text-body-secondary fw-semibold rounded-top mb-2">
                        Account</div><a class="dropdown-item" href="#">
                        <i class="fa fa-bell me-2"></i> Updates<span class="badge badge-sm bg-info ms-2">42</span></a><a
                        class="dropdown-item" href="#">
                        <i class="fa fa-envelope-open me-2"></i> Messages<span
                            class="badge badge-sm bg-success ms-2">42</span></a><a class="dropdown-item" href="#">
                        <i class="fa fa-tasks me-2"></i> Tasks<span
                            class="badge badge-sm bg-danger ms-2">42</span></a><a class="dropdown-item" href="#">
                        <i class="fa fa-comments me-2"></i> Comments<span
                            class="badge badge-sm bg-warning ms-2">42</span></a>
                    <div class="dropdown-header bg-body-tertiary text-body-secondary fw-semibold my-2">
                        <div class="fw-semibold">Settings</div>
                    </div><a class="dropdown-item" href="#">
                        <i class="fa fa-user me-2"></i> Profile</a><a class="dropdown-item" href="#">
                        <i class="fa fa-cog me-2"></i> Settings</a><a class="dropdown-item" href="#">
                        <i class="fa fa-credit-card me-2"></i> Payments<span
                            class="badge badge-sm bg-secondary ms-2">42</span></a><a class="dropdown-item" href="#">
                        <i class="fa fa-file me-2"></i> Projects<span
                            class="badge badge-sm bg-primary ms-2">42</span></a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'change_password' %}">
                        <i class="fa fa-lock me-2"></i> Change Password</a>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">
                            <i class="fa fa-sign-out me-2"></i> Logout
                        </button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <div class="container-fluid px-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-0">
                <li class="breadcrumb-item"><a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active"><span>Dashboard</span>
                </li>
            </ol>
        </nav>
    </div>
</header>