{% extends "base.html" %}
{% load static %}

{% block title %}Log-in{% endblock %}

{% block content %}
<div class="login-container text-center">
    {% include 'top-navbar.html' %}
    <form class="form-signin" method="post">
        <img class="mb-4" src="{% static 'logo/logo.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        
        {{ form.as_div }}
        {% csrf_token %}
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" style="width: 100%;" value="Log in">
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2024-2025</p>
    </form>
</div>
{% endblock %}
