<nav class="navbar navbar-expand-md navbar-dark bg-dark px-2">
    <a class="navbar-brand" href="#">Plan It Now</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-md-flex justify-content-md-between" id="navbarCollapse">
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Documentation</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Tools
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Slope & Intercept</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <span class="user">
                {% if request.user.is_authenticated %}
                <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'logout' %}">
                    {% csrf_token %} 
                    <span class="font-weight-bold text-info" style="font-size: 0.9em; font-family: 'Arial', sans-serif;">Welcome {{ request.user.first_name|default:request.user.username }}</span>,
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button> 
                </form>
                {% else %}
                    <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'login' %}">Log in</a>
                {% endif %}
            </span>
        </div>
    </div>
</nav>
